<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>lightshot</title>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <LINK REL="SHORTCUT ICON" href="https://is1-ssl.mzstatic.com/image/thumb/Purple113/v4/ca/33/b8/ca33b800-7432-ad08-3341-70c2cd308671/lightshot.png/1200x630bb.png">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Estilo próprio desse site -->
    <link href="css/customizado.css" rel="stylesheet">

</head>

<body>

    <header>
        <!-- Menu Fixo -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">lightshot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Download.html">Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="Funcoes.html">Funções</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>


    <!-- Conteúdo do seu tutorial -->
    <main role="main" class="container shadow-lg p-3 mb-5 bg-white rounded">
        <div class="download ml-5 mt-5">
            <h2 class="item">Lightshot para Windows</h2>
            <div class="item">
                <div class="itemico">
                    <img src="https://st.prntscr.com/2019/09/03/1652/img/download/win.png" alt="">
                </div>
                <div class="itemcontent">
                    <p>Você quer capturar coisas fora de seu navegador? Escolha a opção de download do Lightshot mais funcional para receber esta oportunidade. Este programa permite que você capture a tela diretamente de seu desktop.</p>
                    <p class="download">
                        <a class="download-for-windows-goal" href="https://app.prntscr.com/build/setup-lightshot.exe">Instalar</a>
                    </p>
                </div>
            </div>
            <h2 class="item">Lightshot para Mac OS</h2>
            <div class="item">
                <div class="itemico">
                    <img src="https://st.prntscr.com/2019/09/03/1652/img/download/macos.png" alt="">
                </div>
                <div class="itemcontent">
                    <p>Instale Lightshot em seu sistema operacional Mac OS X mais avançado. Capture imagens na tela e compartilhe elas em Facebook ou Twitter com seu Macintosh. O atalho no Mac é ⇧⌘ 9</p>
                    <p class="download">
                        <a class="download-for-macos-goal" href="http://itunes.apple.com/us/app/lightshot-screenshot/id526298438?ls=1&amp;mt=12">Instalar</a>
                    </p>
                </div>
            </div>
            <h2 class="item">Lightshot para Ubuntu</h2>
            <div class="item">
                <div class="itemico">
                    <img src="https://st.prntscr.com/2019/09/03/1652/img/download/ubuntu.png" alt="">
                </div>
                <div class="itemcontent">
                    <p>Nâo temos uma versão de Lightshot feita especificamente para Linux ainda. Mas você ainda pode usar Lightshot usando Wine. Lightshot foi testado para compatibilidade com Ubuntu Linux mas provavelmente funcona em outros.</p>
                    <p class="download">
                        <a class="download-for-ubuntu-goal" href="https://app.prntscr.com/pt-br/wine-lightshot.html">Instalar</a>
                    </p>
                </div>
            </div>
            <h2 class="item">Google Chrome</h2>
            <div class="item">
                <div class="itemico">
                    <img src="https://st.prntscr.com/2019/09/03/1652/img/download/chrome.png" alt="">
                </div>
                <div class="itemcontent">
                    <p>Esse add-on irá adicionar um novo botão em Google Chrome, trazendo todas as ferramentas de Lightshot. Tire uma foto de qualquer coisa que você pode ver em sua tela, edite ou envie para a internet para compartilhar com seus amigos.</p>
                    <p class="download">
                        <a class="download-for-chrome-goal" href="https://chrome.google.com/extensions/detail/mbniclmhobmnbdlbpiphghaielnnpgdp">Instalar</a>
                    </p>
                </div>
            </div>
        </div>

    </main>


    <!-- Rodapé -->
    <footer class="footer">
        <div class="container">
            <span class="text-muted">by. Santyero</span>
        </div>
    </footer>

</body>

</html>