<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>lightshot</title>
    <!-- fontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="https://fonts.googleapis.com/css?family=Jomolhari&display=swap" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <LINK REL="SHORTCUT ICON" href="https://is1-ssl.mzstatic.com/image/thumb/Purple113/v4/ca/33/b8/ca33b800-7432-ad08-3341-70c2cd308671/lightshot.png/1200x630bb.png">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Estilo próprio desse site -->
    <link href="css/customizado.css" rel="stylesheet">
    <style>
        .man {
            background-color: rgb(228, 222, 222);
            color: rgb(29, 2, 4);
        }
        
        .txxt {
            font-family: 'Belleza';
            font-size: 22px;
        }
        
        hr {
            margin-top: 50px;
        }
        
        .ttx2 {
            font-family: 'Crete Round';
            font-size: 22px;
        }
    </style>

</head>

<body>

    <header>
        <!-- Menu Fixo -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">lightshot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Download.html">Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="Funcoes.html">Funções</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>


    <!-- Conteúdo do seu tutorial -->
    <main role="main" class="container man shadow-lg p-3 mb-5 bg-white rounded">
        <h2 class="mt-5">Tutoriais</h2>
        <div class="ml-5 mt-5 txxt ">
            <h4>Para utilizar qualquer uma das funções a seguir é nescessario já ter baixado o programa e instalado. Para executalo aperte a tecla <a href="https://www.google.com/search?sxsrf=ACYBGNSX7KjveHdfPK4SZxe8Z2oMYJNIxw%3A1573324112529&ei=UAXHXYT9H5uy5OUP3p2yYA&q=tecla+print+screen&oq=tecla+Prin&gs_l=psy-ab.3.0.0l10.5911.9511..10471...0.1..0.120.1056.2j8......0....1..gws-wiz.......0i71j35i39j0i131i67j0i131j0i10i67j0i10.JlRv1-WIDSY">PrintScreen </a>em
                seu teclado.</h4>
        </div>
        <div class="salvar ml-5 mt-5 ki">

            <h3 class=""><i class="fa fa-floppy-o" aria-hidden="true"></i> Como salvar imagem</h3>
            <div class="ml-5">
                <h3 class="ttx2">Se quer salvar de forma rapida e eficaz basta clicar na tecla salvar escolher o destino e clicar em salvar.</h3>
                <img class="shadow-lg p-3 mb-5 bg-dark rounded" src="gifs/salvar.gif" alt="" style="width:700px; height:400px;" />
            </div>
        </div>
        <hr>
        <div class="copiar ml-5 mt-5 ">
            <h3 class=""><i class="fa fa-files-o" aria-hidden="true"></i> Como copiar imagem</h3>
            <div class="ml-5">
                <h3 class="ttx2">Caso seje nescessario enviar a imagem para aréa de transferencia(copiar), basta selecionar a opção copiar.</h3>
                <img class="shadow-lg p-3 mb-5 bg-dark rounded" src="gifs/copiar.gif" alt="" style="width:700px; height:400px;" />
            </div>

        </div>
        <hr>
        <div class="procura ml-5 mt-5 ">
            <h3 class=""><i class="fa fa-search" aria-hidden="true"></i> Como procurar por imagem parecidas</h3>
            <div class="ml-5">
                <h3 class="ttx2">Quer pesquisar por imagens parecidas? basta printar e clicar na opção de pesquisa, que imediatamente será direcionado para tela de pesquisa.</h3>
                <img class="shadow-lg p-3 mb-5 bg-dark rounded" src="gifs/Procurar.gif" alt="" style="width:700px; height:400px;" />
            </div>
        </div>
        <hr>
        <div class="procura ml-5 mt-5 ">
            <h3 class=""><i class="fa fa-upload" aria-hidden="true"></i> Fazer um rapido uploud da imagem</h3>
            <div class="ml-5">
                <h3 class="ttx2">Nescessita fazer um upload da imagem? click na opção upload e instantaneamente sua imagem já estará upada e com um link.</h3>
                <img class="shadow-lg p-3 mb-5 bg-dark rounded" src="gifs/Upar.gif" alt="" style="width:700px; height:400px;" />
                <h3 class="ttx2">Link da imagem<a href="https://prnt.sc/puq0v7"> https://prnt.sc/puq0v7</a></h3>
            </div>
        </div>
        <hr>
        <div class="procura ml-5 mt-5 ">
            <h3 class=""><i class="fa fa-paint-brush" aria-hidden="true"></i> Desenhar ou escrever nas imagens</h3>
            <div class="ml-5">
                <h3 class="ttx2">Para desenahar, escrever ou anotar na imagem, basta usar o campo direito, onde se encontra funções de mudanças.</h3>
                <img class="shadow-lg p-3 mb-5 bg-dark rounded" src="gifs/desenhar.gif" alt="" style="width:700px; height:400px;" />
            </div>
        </div>
        <br>
        <br>
    </main>


    <!-- Rodapé -->
    <footer class=" footer ">
        <div class="container ">
            <span class="text-muted ">by. Santyero</span>
        </div>
    </footer>

</body>

</html>