<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>lightshot</title>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <LINK REL="SHORTCUT ICON" href="https://is1-ssl.mzstatic.com/image/thumb/Purple113/v4/ca/33/b8/ca33b800-7432-ad08-3341-70c2cd308671/lightshot.png/1200x630bb.png">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Estilo próprio desse site -->
    <link href="css/customizado.css" rel="stylesheet">

</head>

<body>

    <header>
        <!-- Menu Fixo -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">lightshot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Download.html">Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="Funcoes.html">Funções</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>


    <!-- Conteúdo do seu tutorial -->
    <main role="main" class="container shadow-lg p-3 mb-5 bg-white rounded">
        <h1 class="mt-5">A forma mais rápida de fazer uma captura de tela personalizável</h1>
        <div class="description mt-5 ml-5">
            <div class="row">
                <div class="mt-3">
                    <img src="https://st.prntscr.com/2019/09/03/1652/img/description-selected.png" alt="">
                </div>
                <div class="col-sm-6">
                    <dl class="description-item_selected">
                        <dt>Captura de tela rápida da área selecionada</dt>
                        <dd>Programa permite que você selecione qualquer área em sua tela e capture ela em apenas 2 cliques</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="mt-3">
                    <img src="https://st.prntscr.com/2019/09/03/1652/img/description-easy.png" alt="">
                </div>
                <div class="col-sm-6">
                    <dl class="description-item_easy">
                        <dt>Programa fácil de usar</dt>
                        <dd>Interface simples e peso leve que torna seu trabalho com o programa mais fácil</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="mt-3">
                    <img src="https://st.prntscr.com/2019/09/03/1652/img/description-share.png" alt="">
                </div>
                <div class="col-sm-6">
                    <dl class="description-item_share">
                        <dt>Compartilhar imagens na internet</dt>
                        <dd>Faça upload de suas imagens no servidor para conseguir um link rapidamente.</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="mt-3">
                    <img src="https://st.prntscr.com/2019/09/03/1652/img/description-editor.png" alt="">
                </div>
                <div class="col-sm-6">
                    <dl class="description-item_editor">
                        <dt>Editores poderosos</dt>
                        <dd>Você pode editar as capturas instantaneamente, ou depois usando o editor poderoso online</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="mt-3">
                    <img src="https://st.prntscr.com/2019/09/03/1652/img/description-similar.png" alt="">
                </div>
                <div class="col-sm-6">
                    <dl class="description-item_similar">
                        <dt>Pesquisa de imagens semelhantes</dt>
                        <dd>Selecione qualquer imagem em sua tela e encontre várias imagens semelhantes.</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="mt-3">
                    <img src="https://st.prntscr.com/2019/09/03/1652/img/description-platforms.png" alt="">
                </div>
                <div class="col-sm-6">
                    <dl class="description-item_platforms">
                        <dt>Várias plataformas</dt>
                        <dd> Lightshot está disponível para <a href="./download.html">Windows</a>/<a href="http://itunes.apple.com/us/app/lightshot-screenshot/id526298438?ls=1&amp;mt=12">Mac</a>, <a href="https://chrome.google.com/webstore/detail/mbniclmhobmnbdlbpiphghaielnnpgdp">Chrome</a>,
                            <a href="https://addons.mozilla.org/firefox/addon/lightshot/">Firefox</a>, <a href="./download.html">IE</a> &amp; <a href="https://addons.opera.com/ru/extensions/details/lightshot-screenshot-tool/">Opera</a>. </dd>
                    </dl>
                </div>
            </div>
            <div class="shadow-bottom"></div>
        </div>

    </main>


    <!-- Rodapé -->
    <footer class="footer">
        <div class="container">
            <span class="text-muted">by. Santyero</span>
        </div>
    </footer>

</body>

</html>